<a class="scroll-to-top" href="#">
    <i class="lnr lnr-arrow-up"></i>
</a>
<!-- Scroll to Top End -->

<!-- JS
============================================ -->

<!-- jQuery JS -->
<script src="../assets/js/vendor/jquery-3.6.0.min.js"></script>
<!-- jQuery Migrate JS -->
<script src="../assets/js/vendor/jquery-migrate-3.3.2.min.js"></script>
<!-- Modernizer JS -->
<script src="../assets/js/vendor/modernizr-3.7.1.min.js"></script>
<!-- Bootstrap JS -->
<script src="../assets/js/vendor/bootstrap.bundle.min.js"></script>

<!-- Swiper Slider JS -->
<script src="../assets/js/plugins/swiper-bundle.min.js"></script>
<!-- nice select JS -->
<script src="../assets/js/plugins/nice-select.min.js"></script>
<!-- Ajaxchimpt js -->
<script src="../assets/js/plugins/jquery.ajaxchimp.min.js"></script>
<!-- Jquery Ui js -->
<script src="../assets/js/plugins/jquery-ui.min.js"></script>
<!-- Jquery Countdown js -->
<script src="../assets/js/plugins/jquery.countdown.min.js"></script>
<!-- jquery magnific popup js -->
<script src="../assets/js/plugins/jquery.magnific-popup.min.js"></script>

<!-- Main JS -->
<script src="../assets/js/main.js"></script>

