<!-- Breadcrumb Area Start Here -->
<section class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Trendy</h3>
                    <ul>
                        <li><a href="index">Home</a></li>
                        <li>Trendy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Area End Here -->

<!-- Product Section Start -->
<section class="product-area">
    <div class="container">
        <div class="row product-row">
            <div class="col-3 col-custom">
                <div class="product-slider swiper-container anime-element-multi">
                    <div class="swiper-wrapper">
                        <!--Single Product Start--><hr><hr>
                        <div class="single-item swiper-slide">
                            <div class="single-product position-relative mb-30 mt-4">
                                <div class="product-image">
                                    <a class="d-block" href="product-details.html">
                                        <img src="assets/images/product/1.jpg" alt="Product Image 1" class="product-image-1 w-100">
                                        <img src="assets/images/product/2.jpg" alt="Product Image 2" class="product-image-2 position-absolute w-100">
                                    </a>
                                    <span class="onsale">Sale!</span>
                                    <div class="add-action d-flex flex-column position-absolute">
                                        <a href="compare.html" title="Compare">
                                            <i class="lnr lnr-sync" data-toggle="tooltip" data-placement="left" title="Compare"></i>
                                        </a>
                                        <a href="wishlist.html" title="Add To Wishlist">
                                            <i class="lnr lnr-heart" data-toggle="tooltip" data-placement="left" title="Wishlist"></i>
                                        </a>
                                        <a href="#exampleModalCenter" title="Quick View" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                            <i class="lnr lnr-eye" data-toggle="tooltip" data-placement="left" title="Quick View"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="product-content">
                                    <h4 class="title-2"><a href="product-details.html">Hyacinth white stick</a></h4>
                                    <div class="product-rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <div class="price-box">
                                        <span class="regular-price">$80.00</span>
                                        <span class="old-price"><del>$90.00</del></span>
                                    </div>
                                    <a href="cart.html" class="btn product-cart">Add to Cart</a>
                                </div>
                            </div>
                        </div>
                        <!--Single Product End-->
                        <!-- Repeat similar blocks for other products -->
                    </div>
                    <!-- Slider pagination -->
                    <div class="swiper-pagination default-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Section End -->

<!-- Footer Area Start -->
<footer class="footer-area mt-no-text">
    <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>Copyright © 2021 <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a> | Built with <strong>FloSun</strong> by <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->
